/venv
/.venv
/.idea
**/__pycache__/
.DS_Store
/fastapi.db
/.env
/appendonlydir
/dump.rdb
/temp-*
/virenv
/test.db
app/main_test.py
/app/tests/
/app/servies/
/avatars*
/documents*
/static*
test.json
.vscode